@font-face {
    font-family: "Cambria";
    src: url("../assets/fonts/cambria.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: "CambriaBold";
    src: url("../assets/fonts/cambriab.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: "UTMAvo";
    src: url("../assets/fonts/UTMAvo.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: "UTMAvoBold";
    src: url("../assets/fonts/UTMAvoBold.ttf") format("truetype");
    font-display: swap
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// Variable
$font_Bold: "CambriaBold";
$font_Regular: "Cambria";
$font_Avo: "UTMAvo";
$font_AvoBold: "UTMAvoBold";

// CSS
body,
html {
    font-family: $font_Regular;
    background-color: #f5f4f2;
    font-size: 1.1rem;
}

section {
    padding: 2rem 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.pad0 {
    padding: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.break {
    display: block;
}

.mt-1rem {
    margin-top: 1rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.mb-2rem {
    margin-bottom: 2rem;
}

strong {
    font-family: $font_Bold;
}

p {
    font-family: $font_Regular;
    color: #666666;
}

%title {
    font-family: $font_Bold;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    color: #f5821f;
    margin-bottom: 0;
}

@mixin hr($size, $color, $width) {
    border-top: $size solid $color;
    background-color: $color;
    width: $width;
}

@mixin background($url, $rp, $size, $pos) {
    background: $url;
    background-repeat: $rp;
    background-size: $size;
    background-position: $pos;
}

@mixin border-radius($deg) {
    border-radius: $deg;
    -webkit-border-radius: $deg;
    -moz-border-radius: $deg;
    -ms-border-radius: $deg;
    -o-border-radius: $deg;
}

.outside-title {
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    margin: auto;
}

.title {
    @extend %title;
}

hr {
    border-top: 2px solid #1a90a7;
    width: 70px;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
}

.btn_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 90;
    cursor: pointer;
    display: none;
}

header {
    position: relative;

    .logo {
        padding: 0.5rem;
    }
}

.navbar-light {
    background-color: #f5821f;

    &.fixed-top {
        top: 100%;
        position: absolute;
    }

    .navbar-collapse {
        .navbar-nav {
            width: 100%;
            justify-content: space-between;

            .nav-item {
                .nav-link {
                    color: #fff;
                    margin: 0 0.5rem;
                    padding: 0.5rem 0;

                    &.active {
                        // color: #ff8400;
                    }

                    p {
                        margin-bottom: 0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
        margin-right: 10px;
    }
}

main {
    margin-top: 64.19px;

    @media screen and (max-width: 575.98px) {
        margin-top: 61px;
    }
}

#trangchu {
    padding: 0;

    #header-banner {
        .banner1 {
            @include background(url('../assets/images/bg-banner1.png'), no-repeat, cover, center);

            .banner1-left {
                text-align: center;

                @media screen and (min-width:1200px) {
                    width: 600px;
                    margin: auto;
                }

                p {
                    font-size: 2.7rem;
                }

                .banner1-text {
                    background-color: rgba(207, 122, 1, .5);
                    margin-bottom: 1rem;

                    p {
                        font-family: $font_Avo;
                        font-size: 2rem;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }

        .banner2 {
            @include background(url('../assets/images/bg-banner2.png'), no-repeat, cover, center);
            position: relative;

            ul {
                list-style-type: none;
                margin: auto;
                width: intrinsic;
                width: -moz-max-content;
                width: -webkit-max-content;
                width: max-content;

                li {
                    margin-bottom: 1.5rem;
                    padding-left: 2rem;
                    color: #fff;
                    font-size: 2rem;
                    font-family: $font_AvoBold;
                    background: url('../assets/images/list-icon.png');
                    background-position: 0px 18px;
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                }
            }

            .shape {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }

        p {
            color: #fff;
            font-family: $font_AvoBold;
        }



        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: 40%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;

                [class*=owl-] {
                    &:hover {
                        background: transparent;
                    }
                }
            }

            .owl-dots {
                position: absolute;
                width: 100%;
                bottom: 20px;

                .owl-dot {
                    span {
                        width: 15px;
                        height: 15px;
                        background: transparent;
                        border: 2px solid #fff;
                    }

                    &.active {
                        span {
                            background: #acacac;
                        }
                    }
                }
            }
        }

        .dk {
            border: none;
            @include border-radius(5px);
            margin: auto;
            padding: .5rem 1rem;
            color: #fff;
            font-family: $font_Bold;
            background: #f5821f;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

#gioithieu {
    .title {
        margin-bottom: 1rem;
    }
}

#tieuhoc {
    .tieuhoc-left {
        height: 100%;
        display: flex;
        flex-direction: column;

        &--content {
            padding: 2rem;
        }

        >div {
            flex: 1;
        }
    }
}

#camnhan {
    #camnhan-slider {
        @include background(url('../assets/images/bg-camnhan.png'), no-repeat, cover, center);
        @include border-radius(10px);
        padding: 4rem 5rem;

        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: 40%;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 2rem;

                [class*=owl-] {
                    width: 12px;

                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }

    .item {
        p {
            color: #000;

            &.phuhuynh {
                font-family: $font_Bold;
            }
        }
    }
}

#dangky {
    background: #1a90a7;

    form {
        background: #f5821f;
        padding: 2rem;
        @include border-radius(10px);
    }
}


footer {
    padding: 2rem 0;
    background: #197385;

    p {
        color: #fff;
        font-family: $font_Bold;

        &.title {
            color: #fff;
        }
    }
}

#thanks {
    @include background(url("../assets/images/bg-banner1.png"),
        no-repeat,
        cover,
        center);
    margin-top: -101.59px;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        padding: 0 1rem;
    }

    p {
        text-align: center;
        color: #fff;
        font-family: $font_Regular;

        &:first-of-type {
            font-size: 2rem;
            font-family: $font_Bold;
        }
    }

    figure {
        img {
            width: 50px;
        }
    }

    a {
        text-transform: capitalize;
        margin-top: 2rem;
        padding: .5rem 2rem;
        text-align: center;
        font-family: $font_Bold;
        color: #fff;
        background: #f5821f;
        @include border-radius(5px);

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

.field_input {
    background-color: #fff;
    @include border-radius(10px);
    border: none;
    padding: 10px;
    margin-bottom: 2rem;
    color: #666666;
    width: 100%;
    text-align: left;
}

.field_register {
    border: none;
    @include border-radius(10px);
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: $font_Bold;
    display: flex;
    background-color: #1b8094;
    box-shadow: 0;
    cursor: pointer;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666666;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #666666;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #666666;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #666666;
}

@media (min-width: 1900px) {}

@media (min-width: 1680px) and (max-width: 1899px) {}

@media (min-width: 1440px) and (max-width: 1500px) {}

@media (max-width: 575.98px) {
    .navbar-light {
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        .navbar-toggler {
            margin-right: 0px;
            margin-left: auto;
        }
    }

    #trangchu {
        #header-banner {
            .banner1 {
                .banner1-left {
                    p {
                        font-size: 2rem;
                    }

                    .banner1-text {
                        p {
                            font-size: 1.5rem;
                        }
                    }

                    button {
                        margin-bottom: 1rem;
                    }
                }
            }

            .banner2 {
                ul {
                    width: auto;
                    padding-left: .5rem;
                    padding-top: 1rem;

                    li {
                        margin-bottom: 2rem;
                        padding-left: 1.7rem;
                        font-size: 1.2rem;
                        background-position: 0px 8px;
                    }
                }
            }
        }
    }

    #dangky {
        form {
            margin-top: 1rem;
        }
    }

    #tieuhoc {
        .tieuhoc-left {
            &--content {
                padding: 0;
            }
        }
    }

    #camnhan {
        #camnhan-slider {
            padding: 1rem;
        }
    }

    #thanks {
        p {
            &:first-of-type {
                font-size: 1.5rem;
            }

            .break {
                display: inline;
            }
        }
    }
}

@media (max-width: 380px) {}

@media (min-width: 576px) {}